<!DOCTYPE html>
<html>
<head>
	<meta  charset="utf-8" />
	<title>科研成果管理系统</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css" />
	<link rel="stylesheet" type="text/css" href="../css/reset.css" />
</head>
<body>
	<!--头部logo-->
	<div class="header">
		<div class="wrap">
			<div class="img-contain">
				<a href="index.html">
					<img src="../img/index/logo.png">
				</a>
			</div>
			<div class="unlogin">
				<a class="text-link" href="">
					<span class="login">
						登录
					</span>
				</a>
				<a class="text-link" href="">
					<span class="register">
						注册
					</span>
				</a>
			</div>
			<!-- 登录后 -->
			<div class="logined">
				<div class="portrait-wrap">
					<img class="portrait" src="../img/login/portrait.png" />
				</div>
				<div class="user-center">
					<div class="user-center-wrap">
						<div class="user-header">
							<img src="../img/login/portrait.png">
							<span>用户名</span>	
						</div>
						<div class="user-body">
							<a href="personal.html">个人信息</a>
							<a href="myresearch.html">我的科研成果</a>
							<a href="result.html">上传成果</a>
							<button>安全退出</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--导航部分-->
	<nav>
		<div class="wrap">
			<div class="nav-wrap">
				<ul>
					<li>
						<a  class="live" href="">
							首页
						</a>
					</li><!--
				 --><li>
					 	<a href="">
					 		新闻资讯
					 	</a>
				 	</li><!--
				 --><li>
					 	<a href="">
					 		通知公告
					 	</a>
					 </li><!--
				 --><li>
				 		<a href="">
				 			资料下载
				 		</a>
				 	</li>
				</ul>
			</div>
			<div class="research-wrap">
				<div class="research">
					<input type="text" name="">
					<a href="">
						<img src="../img/index/find.png">
					</a>
				</div>
			</div>
		</div>
	</nav>
	<!-- 首页 -->
	<div id="index">
		<!--轮播图-->
		<div class="slider">
			<img id="show" src="../img/index/demo.png" />
			<ul class="select-slider">
				<li>
					<img src="../img/index/select.png" />
				</li>
				<li>
					<img src="../img/index/unselect.png" />
				</li>
				<li>
					<img src="../img/index/unselect.png" />
				</li>
				<li>
					<img src="../img/index/unselect.png" />
				</li>
			</ul>
			<img id="prev" src="../img/index/prev.png">
			<img id="next" src="../img/index/next.png">
		</div>
		<!--内容部分-->
		<div class="news">
			<div class="news-header">
				<div class="news-header-wrap">
					<span>新闻资讯/News</span>
					<a href="">
						<span>更多></span>
					</a>
				</div>
			</div>
			<div class="news-left-side">
				<ul class="show-block">
					<li>
						<a href="">
							<img src="../img/index/newsImg.png" alt="新闻资讯图片" />
							<p>
								携笔从戎&nbsp;&nbsp;|&nbsp;&nbsp;公安消防部队高等专科学校2017年度接收普通高等学校毕业生简章。
							</p>
						</a>					
					</li>
					<li>
						<a href="">
							<img src="../img/index/newsImg.png" alt="新闻资讯图片" />
							<p>
								携笔从戎&nbsp;&nbsp;|&nbsp;&nbsp;公安消防部队高等专科学校2017年度接收普通高等学校毕业生简章。
							</p>
						</a>					
					</li>
					<li>
						<a href="">
							<img src="../img/index/newsImg.png" alt="新闻资讯图片" />
							<p>
								携笔从戎&nbsp;&nbsp;|&nbsp;&nbsp;公安消防部队高等专科学校2017年度接收普通高等学校毕业生简章。
							</p>
						</a>					
					</li>
				</ul>
			</div>
			<div class="news-right-side">
				<ul>
					<li>
						<a href="">
							<img src="../img/index/triangle.png">
							<span>
								新闻资讯新闻资讯新闻资讯新闻资讯
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="../img/index/triangle.png">
							<span>
								新闻资讯新闻资讯新闻资讯新闻资讯
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="../img/index/triangle.png">
							<span>
								新闻资讯新闻资讯新闻资讯新闻资讯
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="../img/index/triangle.png">
							<span>
								新闻资讯新闻资讯新闻资讯新闻资讯
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="../img/index/triangle.png">
							<span>
								新闻资讯新闻资讯新闻资讯新闻资讯
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="announcement">
			<div class="announcement-header">
				<div class="announcement-header-wrap">
					<span>通知公告/Announcement</span>
					<a href="">
						<span>更多></span>
					</a>
				</div>
			
			</div>
			<div class="announcement-left-side">
				<ul>
					<li>
						<a href="">
							<img src="../img/index/date.png">
							<span>
								通知公告通知公告通知公告通知公告通知公告通知公告通知公告
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="../img/index/date.png">
							<span>
								通知公告通知公告通知公告通知公告通知公告通知公告通知公告
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="../img/index/date.png">
							<span>
								通知公告通知公告通知公告通知公告通知公告通知公告通知公告
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="../img/index/date.png">
							<span>
								通知公告通知公告通知公告通知公告通知公告通知公告通知公告
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="../img/index/date.png">
							<span>
								通知公告通知公告通知公告通知公告通知公告通知公告通知公告
							</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="announcement-right-side">
				<ul>
					<li>
						<a href="">
							<img src="../img/index/date.png">
							<span>
								通知公告通知公告通知公告通知公告通知公告通知公告通知公告
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="../img/index/date.png">
							<span>
								通知公告通知公告通知公告通知公告通知公告通知公告通知公告
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="../img/index/date.png">
							<span>
								通知公告通知公告通知公告通知公告通知公告通知公告通知公告
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="../img/index/date.png">
							<span>
								通知公告通知公告通知公告通知公告通知公告通知公告通知公告
							</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="../img/index/date.png">
							<span>
								通知公告通知公告通知公告通知公告通知公告通知公告通知公告
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 登录 -->
	<div id="loginpage">
		<div class="content-wrap">
			<div class="login-window">
				<h4>欢迎登录</h4>
				<form class="window-content">
					<input type="text" name="username" placeholder="请输入用户名" />
					<input type="password" name="userPassword" placeholder="请输入密码" />
					<input type="submit" name="Submit" value="登录">
				</form>
			</div>
		</div>
	</div>
	<!-- 新闻资讯 -->
	<div id="newspage">
		<div class="news-content-wrap">
			<div class="newsInfo">
				<h4>
					新闻资讯
				</h4>
				<div class="newsInfo-content"></div>
			</div>
		</div>
	</div>
	<!--底部-->
	<div class="footer">
		<div class="footer-wrap">
			<div class="left">
				<h4>
					公安消防部队高等专科学校&nbsp;&nbsp;|&nbsp;&nbsp;科研成果管理平台
				</h4>
				<p>
					Copyright&nbsp;©&nbsp;2017&nbsp;hoperesearch.com京ICP备&nbsp;13046642号-2
				</p>
			</div>
			<div class="centre">
				<h4>
					友情链接
				</h4>
				<div class="show-link">
					<a href="http://www.moe.gov.cn/">中华人民共和国教育部</a>
					<a href="http://www.miit.gov.cn/">中华人民共和国工业和信息化部</a>
					<a href="http://www.most.gov.cn/">中华人民共和国科学技术部</a>
				</div>
			</div>
			<div class="right">
				<h4>联系我们</h4>
				<div class="show-info">
					<p>深圳市南山区高新科技园中区一路腾讯大厦</p>
					<p>电话：0755-86013388</p>
					<p>传真：0755-86013399</p>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../js/index.js"></script>
</body>
</html>