<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>我的科研成果</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../css/myresearch.css" />
</head>
<body>
	<!--头部logo-->
	<div class="header">
		<div class="wrap">
			<div class="img-contain">
				<a href="index.html">
					<img src="../img/index/logo.png">
				</a>
			</div>
			<!-- 登录后 -->
			<div class="logined">
				<div class="portrait-wrap">
					<img class="portrait" src="../img/login/portrait.png" />
				</div>
				<div class="user-center">
					<div class="user-center-wrap">
						<div class="user-header">
							<img src="../img/login/portrait.png">
							<span>用户名</span>	
						</div>
						<div class="user-body">
							<a href="personal.html">个人信息</a>
							<a href="myresearch.html">我的科研成果</a>
							<a href="result.html">上传成果</a>
							<button>安全退出</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--导航部分-->
	<nav>
		<div class="wrap">
			<div class="nav-wrap">
				<ul>
					<li>
						<a href="index.html">
							首页
						</a>
					</li><!--
				 --><li>
					 	<a href="">
					 		新闻资讯
					 	</a>
				 	</li><!--
				 --><li>
					 	<a href="">
					 		通知公告
					 	</a>
					 </li><!--
				 --><li>
				 		<a href="">
				 			资料下载
				 		</a>
				 	</li>
				</ul>
			</div>
			<div class="research-wrap">
				<div class="research">
					<input type="text" name="">
					<a href="">
						<img src="../img/index/find.png">
					</a>
				</div>
			</div>
		</div>
	</nav>
	<!-- 内容 -->
	<div class="personal-content">
		<div class="wrap">
			<div class="choose">
				<div class="choose-title">
					<p>首页&nbsp;&nbsp;>&nbsp;&nbsp;个人中心</p>
				</div>
				<div class="choose-show">
					<ul>
						<li>
							<a href="personal.html">
								个人信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>
							</a>
						</li>
						<li>
							<a href="myresearch.html">
								我的科研成果&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>
							</a>
						</li>
						<li>
							<a href="result.html">
								上传成果&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="personal-info">
				<div class="table-wrap">
					<p>
						成果列表
					</p>
					<table>
						<tr>
							<th>
								项目名称
							</th>
							<th>
								类型
							</th>
							<th>
								提交审核时间
							</th>
							<th>
								审核状态
							</th>
						</tr>
						<tr>
							<td>
								项目名称
							</td>
							<td>
								类型
							</td>
							<td>
								提交审核时间
							</td>
							<td>
								审核状态
							</td>
						</tr>
						<tr>
							<td>
								项目名称
							</td>
							<td>
								类型
							</td>
							<td>
								提交审核时间
							</td>
							<td>
								审核状态
							</td>
						</tr>
						<tr>
							<td>
								项目名称
							</td>
							<td>
								类型
							</td>
							<td>
								提交审核时间
							</td>
							<td>
								审核状态
							</td>
						</tr>
						<tr>
							<td>
								项目名称
							</td>
							<td>
								类型
							</td>
							<td>
								提交审核时间
							</td>
							<td>
								审核状态
							</td>
						</tr>
					</table>
				</div>
				
			</div>
		</div>
	</div>
	<!--底部-->
	<div class="footer">
		<div class="footer-wrap">
			<div class="left">
				<h4>
					公安消防部队高等专科学校&nbsp;&nbsp;|&nbsp;&nbsp;科研成果管理平台
				</h4>
				<p>
					Copyright&nbsp;©&nbsp;2017&nbsp;hoperesearch.com京ICP备&nbsp;13046642号-2
				</p>
			</div>
			<div class="centre">
				<h4>
					友情链接
				</h4>
				<div class="show-link">
					<a href="http://www.moe.gov.cn/">中华人民共和国教育部</a>
					<a href="http://www.miit.gov.cn/">中华人民共和国工业和信息化部</a>
					<a href="http://www.most.gov.cn/">中华人民共和国科学技术部</a>
				</div>
			</div>
			<div class="right">
				<h4>联系我们</h4>
				<div class="show-info">
					<p>深圳市南山区高新科技园中区一路腾讯大厦</p>
					<p>电话：0755-86013388</p>
					<p>传真：0755-86013399</p>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../js/myresearch.js"></script>
</body>
</html>