<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
    <description>Servlet for user Registration</description>
    <display-name>Servlet for user Registration</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.SWJTHC.services.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Servlet for user Registration</description>
    <display-name>Servlet for user Registration</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.SWJTHC.services.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>User Logout</description>
    <display-name>User Logout</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.SWJTHC.services.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.SWJTHC.services.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ThesisUpload</servlet-name>
    <servlet-class>com.SWJTHC.services.ThesisUpload</servlet-class>
  </servlet>
  <servlet>
    <description>Servlet for user Registration</description>
    <display-name>Servlet for user Registration</display-name>
    <servlet-name>TextbookUpload</servlet-name>
    <servlet-class>com.SWJTHC.services.TextbookUpload</servlet-class>
  </servlet>
  <servlet>
    <description>Servlet for user Registration</description>
    <display-name>Servlet for user Registration</display-name>
    <servlet-name>PatentUpload</servlet-name>
    <servlet-class>com.SWJTHC.services.PatentUpload</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/services/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/services/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/services/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/services/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThesisUpload</servlet-name>
    <url-pattern>/services/ThesisUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TextbookUpload</servlet-name>
    <url-pattern>/services/TextbookUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatentUpload</servlet-name>
    <url-pattern>/services/PatentUpload</url-pattern>
  </servlet-mapping>
  
      <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.SWJTHC.filters.LoginFilter</filter-class>
        <init-param>
            <param-name>NoLoginPaths</param-name>
            <param-value>index.jsp;login.jsp;bootstrap;assets;register.jsp;services</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
